@page "/day7"
@inject HttpClient Http
@using System.Text.RegularExpressions

<h3>Day 7 - Handy Haversacks</h3>
<h4>Part One</h4>
<p>Result: @result</p>
<h4>Part Two</h4>
<p>Result: @p2_result</p>

@code {
    string input;
    int result;
    int p2_result;

    protected override async Task OnInitializedAsync()
    {
        input = await Http.GetStringAsync("inputs/day7.txt");
        PartOne(input);
        PartTwo(input);
    }

    protected void PartOne(string input)
    {
        var ruleStrings = input.Split('\n');
        List<Rule> rules = new List<Rule>();
        Regex containedRuleRegex = new Regex(@"^[ ]?(?<quantity>[0-9]) (?<name>[\w]+ [\w]+) bag[s]?$");
        foreach (var ruleString in ruleStrings)
        {
            var parts = ruleString.Split(" bags contain ");
            var containedRules = new Dictionary<string, int>();
            var containedRulesStrings = parts[1];
            //Note: Strange behavior of Remove method: -1 should remove the last character but only -2 is working :(
            containedRulesStrings = containedRulesStrings.Remove(containedRulesStrings.Length - 2);
            var containedRulesArray = containedRulesStrings.Split(',');
            foreach (var rule in containedRulesArray)
            {
                var match = containedRuleRegex.Match(rule);
                if (match.Success)
                {
                    containedRules.Add(match.Groups["name"].Value, int.Parse(match.Groups["quantity"].Value));
                }
            }
            rules.Add(new Rule() { Name = parts[0], ContainedRules = containedRules });
        }
        result = GetResult(new List<string>() { "shiny gold" }, rules);
    }

    int GetResult(List<string> bagsToCheck, List<Rule> rules, List<string> checkedBags = null)
    {
        checkedBags ??= new List<string>();
        List<string> nextBags = new List<string>();

        foreach (var rule in rules)
        {
            if (!checkedBags.Contains(rule.Name) //If rule has not been checked before
                && rule.ContainedRules.Keys.Any(key => bagsToCheck.Contains(key)))
            {
                nextBags.Add(rule.Name);
                checkedBags.Add(rule.Name);
            }
        }

        return nextBags.Count == 0 ? checkedBags.Count : GetResult(nextBags, rules, checkedBags);
    }

    private class Rule
    {
        public string Name { get; set; }
        public Dictionary<string, int> ContainedRules { get; set; }
    }

    protected void PartTwo(string input)
    {

    }
}
